.color-item {
    border: 2px solid var(--white-color);
    transition: var(--transition-config);
    cursor: pointer;
    &:hover,
    &.active {
        box-shadow: 0 0 0 1.4px var(--text-color);
    }
}
