@use '../../styles/abstracts';

.search-modal {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: var(--background-color);
    height: calc(100vh + -0px);

    // temp
    @include abstracts.screen(md) {
        height: calc(100vh + 10px);
    }

    &__content {
        background-color: var(--background-color);
        padding: 40px;
        overflow: auto;
        height: 100%;
        width: 100%;
        max-width: 100%;

        @include abstracts.screen(sm) {
            padding: 50px 20px;
        }
    }

    &__top {
        text-align: center;
        position: relative;
    }
}

.modal-overlay {
    display: block !important;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.search-modal__top .close-btn {
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 99;
    background-color: transparent;
    min-width: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: var(--transition-config);

    @include abstracts.screen(sm) {
        top: -40px;
        right: -8px;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.icon {
    display: inline-block;
    width: 1.5rem;
}

.title {
    font-size: 4.2rem;
    margin-bottom: 30px;

    @include abstracts.screen(md) {
        font-size: 2.8rem;
        line-height: 3.24rem;
    }
}

.input-box {
    width: 50%;
    @include abstracts.screen(xl) {
        width: 80%;
    }

    @include abstracts.screen(md) {
        width: 90%;
    }

    @include abstracts.screen(sm) {
        width: 100%;
    }
}

.popular {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    gap: 10px;
}

.label {
    margin-left: 10px;
    line-height: 2.88rem;

    @include abstracts.screen(md) {
        margin: 0 0 5px 0;
        width: 100%;
    }

    @include abstracts.screen(sm) {
        margin: 0 0 5px 0;
        width: initial;
    }
}

.popular .btn {
    font-size: 1.4rem;
    padding: 6px 12px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    min-width: 0;
    height: 40px;
    font-family: var(--font-family);
    border-radius: 12px;
    transition: var(--transition-config);

    &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
}

.recommend-label {
    margin: 30px 0 40px;
    font-size: 3rem;
    font-weight: 700;

    @include abstracts.screen(md) {
        font-size: 2.4rem;
        line-height: 3.12rem;
    }

    @include abstracts.screen(sm) {
        margin: 30px 0 40px;
    }
}

.card-list__inner {
    --grid-gutter-x: 10px;
}
