@use '../../../styles/abstracts';
@import '../../../styles/base/keyframe';

.header-container {
    position: relative;

    &.header-container__slide-show {
        // Custom home header
        background-color: var(--header-background-color);
        border-radius: 22px;
        margin-top: 30px;
        height: 740px;

        @include abstracts.screen(xl) {
            margin-top: 0;
            background-color: transparent;
            height: auto;
        }
    }
}

.header {
    color: var(--white-color);
    height: var(--header-height);
    background-color: var(--header-background-color);
    border-radius: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 50px 0 30px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    @include abstracts.screen(xl) {
        margin-top: 20px;
        border-radius: 22px;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        height: 100%;
    }

    &.header__slide-show {
        // Custom home header
        position: absolute;
        background-color: transparent;
        border-radius: initial;
        margin-top: 0;
        z-index: 10;

        @include abstracts.screen(xl) {
            position: relative;
            background-color: var(--text-color);
            margin-top: 20px;
            border-radius: 22px;
            padding: 20px;
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            height: 100%;
        }
    }
}

.navbar {
    width: 44%;
}

.navbar-item {
    padding: 0 20px;

    &:hover > * {
        color: var(--primary-color);
    }
}

.navbar-item.active {
    > * {
        color: var(--primary-color);
    }

    & .navbar-content::before {
        width: 100%;
    }
}

.navbar-content {
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
    transition: var(--transition-config);
    font-family: var(--font-family);

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: currentColor;
        height: 2px;
        bottom: 0;
        width: 0;
        border-radius: 2px;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
}

.navbar-item:hover .navbar-content::before {
    width: 100%;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navbar-item:hover .navbar-content::after {
    background: transparent;
    width: 100%;
}

.sub-menu {
    margin-top: 24px;
    padding: 16px 10px;
    width: 118px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--white-color);

    &__item {
        display: block;
        padding: 10px 25px;
        color: var(--text-color);
        transition: var(--transition-config);
        font-size: 1.4rem;
        line-height: 1.75rem;

        &:hover {
            color: var(--primary-color);
            transform: translateX(5px);
        }

        &.active {
            color: var(--primary-color);
        }
    }
}

.logo-link {
    margin-right: auto;

    @include abstracts.screen(xl) {
        margin-right: 0;
    }
}

.logo {
    width: 150px;
    height: auto;

    @include abstracts.screen(md) {
        width: 120px;
    }
}

.actions {
    display: flex;
    gap: 0 22px;
    align-items: center;

    @include abstracts.screen(xl) {
        margin-left: auto;
        gap: 20px;
    }
    @include abstracts.screen(md) {
        gap: 10px;
    }

    &__icon {
        @include abstracts.screen(md) {
            width: 20px;
            height: 20px;
        }
    }
}

.icon {
    cursor: pointer;
    transition: var(--transition-config);
    position: relative;
    display: flex;
    align-items: center;

    &:hover {
        color: var(--primary-color);
    }
}

.avatar {
    width: 28px;
    aspect-ratio: 1 /1;
    object-fit: cover;
    border-radius: 50%;
}

.quantity {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    border: 2px solid;
    border-radius: 50%;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--white-color);

    @include abstracts.screen(xl) {
        background-color: var(--text-color);
    }

    @include abstracts.screen(md) {
        width: 14px;
        height: 14px;
        font-size: 1rem;
        top: -1px;
        right: -3px;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: -75px;
    right: 10px;
    z-index: 3;

    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--white-color);
    transition: all 1s ease;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &.show {
        bottom: 60px;

        @include abstracts.screen(md) {
            bottom: 70px;
        }
    }

    &:hover {
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    }
}

// Mobile menu
.mobile-menu {
    position: relative;
    // z-index: 1;

    &__icon {
        @include abstracts.screen(md) {
            width: 20px;
            height: 20px;
        }
    }

    &__menu-drawer {
        @include abstracts.screen(md) {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100vh;
            z-index: 1;
        }
    }
}

.menu-drawer {
    &__overlay {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        inset: 0;
        background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.5);
        height: 100vh;
        z-index: 1;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        @include abstracts.screen(md) {
            height: calc(100vh + 5px);
        }

        @include abstracts.screen(sm) {
            height: calc(100vh + 10px);
        }
    }

    &__inner,
    &__content {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        height: 100vh;
        transition: var(--transition-config);
        background-color: var(--background-color);
        visibility: hidden;
        transform: translateX(-100%);
        z-index: 1;

        &.show {
            visibility: visible;
            transform: translateX(0);
        }

        @include abstracts.screen(md) {
            width: calc(100vw - 40px);
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;

        @include abstracts.screen(md) {
            height: calc(100vh + 5px);
        }

        @include abstracts.screen(sm) {
            height: calc(100vh + 10px);
        }
    }

    &__header {
        padding: 10px 30px;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        line-height: 2.88rem;

        @include abstracts.screen(md) {
            font-size: 1.5rem;
        }
    }

    &__close-btn {
        padding: 0;
        background-color: transparent;
        color: var(--white-color);
    }

    &__navbar {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__nav-item {
        padding: 11px 32px;
        line-height: 2.08rem;
        color: var(--text-color);
        font-family: var(--font-family);
        transition: var(--transition-config);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
            color: var(--primary-color);
        }

        &.active {
            color: var(--primary-color);
        }
    }

    &__utility-links {
        background-color: rgba($color: #000000, $alpha: 0.03);
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__login-link {
        font-size: 1.4rem;
        font-family: var(--font-family);
        line-height: 1.82rem;
        color: var(--text-color);
    }

    &__social-list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__social-item-link {
        display: block;
        padding: 13px 10px;
        color: var(--text-color);
    }
}

// .mobile-sub-menu {
//     &__header {
//         margin-top: 15px;
//         padding: 12px 26px;
//         display: flex;
//         align-items: center;
//         color: var(--primary-color);
//         background-color: rgba(0, 0, 0, 0.04);
//     }

//     &__icon {
//         rotate: 180deg;
//         margin-right: 10px;
//     }

//     &__navbar {
//         display: flex;
//         flex-direction: column;
//     }

//     &__nav-item {
//         padding: 10px 25px;
//         color: var(--text-color);
//         line-height: 2rem;
//         font-family: var(--font-family);
//         transition: var(--transition-config);

//         &:hover,
//         &.active {
//             color: var(--primary-color);
//         }
//     }
// }

// dropdown-profile
.dropdown-profile {
    background-color: var(--white-color);
    border-radius: 8px;
    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    width: 240px;
    position: relative;

    animation: animateMenuOpen 0.3s ease;
    transition: var(--transition-config);
    user-select: none;

    &::after {
        content: '';
        position: absolute;
        top: -6px;
        right: 12px;
        // z-index: -5;

        width: 34px;
        height: 34px;

        transform: rotate(45deg);

        border-top-left-radius: 4px;

        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
        background-color: var(--white-color);
    }

    &__top {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    &__avatar-wrapper {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2);
    }

    &__avatar {
        height: 100%;
        width: 100%;
    }

    &__name {
        font-size: 1.2rem;
        line-height: 1;
        font-weight: 600;
        margin-bottom: 4px;
        color: var(--text-color);
    }

    &__menu {
        border-bottom: 1px solid rgba(203, 208, 221, 0.54);
    }

    &__group {
        display: flex;
        align-items: center;
        gap: 8px;

        padding: 8px 16px;

        color: var(--text-color);
        transition: var(--transition-config);

        &:hover {
            background-color: #e3e6ed;
        }
    }

    &__text {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    &__logout-btn {
        margin: 16px;
        font-size: 1.3rem;
        line-height: 1.2;
        font-weight: 600;
        padding: 10px 24px;
        background-color: var(--background-color);
        border-radius: 6px;
        border: 1px solid #e0e0e0;

        &:hover {
            background-color: #e3e6ed;
        }
    }
}
