@use '../../styles/abstracts';
@import '../../styles/base/keyframe';

.product-detail {
    &__container {
        width: var(--s-container-width);
        margin-left: auto;
        margin-right: auto;
        padding: 35px 0 20px;

        @include abstracts.screen(md) {
            padding: 26px 0 15px;
        }
    }
    &__row {
        &.modifier {
            align-items: center;
        }
    }

    &__media {
        position: relative;
    }

    &__actions {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &__actions-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__actions-item {
        width: 36px;
        height: 36px;
        background-color: var(--white-color);
        border-radius: 50%;
        box-shadow: 0 0.0625rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.1490196078);
        transition: var(--transition-config);
        padding: 0;
    }

    &__media-wrapper {
        padding-left: 40px;
        position: sticky;
        top: 0;
        height: fit-content;

        @include abstracts.screen(lg) {
            padding: 0 40px;
        }

        @include abstracts.screen(sm) {
            padding: 0;
        }
    }

    &__img-wrapper {
        border-radius: 22px;
        overflow: hidden;
        cursor: zoom-in;
        position: relative;
        background-color: var(--white-color);

        & > div {
            position: absolute;
        }
    }

    &__img {
        display: block;
        position: absolute;
        transition: var(--transition-config);
        max-width: initial;
        // height: auto !important;
        // height: 100%;
    }

    &__img,
    &__slide {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__slide-wrapper {
        padding: 0 5px;
        position: relative;
        padding-top: 100%;
        height: 0;
        background-color: var(--white-color);
        border-radius: 8px;
    }

    &__slide {
        border-radius: 8px;

        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: multiply;

        &:hover {
            border: 1px solid;
        }
    }

    &__content {
        @include abstracts.screen(lg) {
            padding: 50px 40px 0;
        }

        @include abstracts.screen(sm) {
            padding: 0;
        }

        &.modifier {
            padding: 30px 30px 30px 0;

            @include abstracts.screen(xxl) {
                height: calc(90vh);
                overflow-y: auto;

                &::-webkit-scrollbar-thumb {
                    background-color: #00000026;
                }
            }

            @include abstracts.screen(xl) {
                height: calc(75vh);
            }

            @include abstracts.screen(lg) {
                height: calc(60vh);
            }

            @include abstracts.screen(md) {
                height: calc(100vh - 200px);
                padding: 20px;
            }
        }
    }

    &__title {
        margin-bottom: 9px;
        font-size: 4rem;
        line-height: 6.2rem;
        font-weight: 700;

        @include abstracts.screen(sm) {
            font-size: 3rem;
            line-height: normal;
            margin: 20px 0;
        }

        &.modifier {
            font-size: 3rem;
            line-height: 5rem;
            margin-bottom: 0;
            max-width: 90%;
            color: var(--text-color);
            transition: var(--transition-config);
            text-align: left;
            display: block;

            &:hover {
                color: var(--primary-color);
            }

            @include abstracts.screen(lg) {
                font-size: 2.2rem;
            }
        }
    }

    &__review {
        display: flex;
        align-items: center;
        gap: 4px;
        margin: 15px 0;

        &.modifier {
            margin: 0 0 16px;
        }
    }

    &__stars {
        display: flex;
        align-items: center;
        color: var(--primary-color);
        gap: 2px;

        @include abstracts.screen(sm) {
            font-size: 1.5rem;
        }
    }

    &__review-quantity {
        line-height: 2.24rem;

        @include abstracts.screen(sm) {
            font-size: 1.5rem;
            line-height: 2.1rem;
        }
    }

    &__text {
        max-width: 620px;
        line-height: 2.6rem;
        color: #797979;
    }

    &__group {
        margin-bottom: 30px;

        @include abstracts.screen(sm) {
            margin-bottom: 20px;
        }

        &.modifier {
            margin-bottom: 0;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    &__label-text,
    &__color-label {
        color: var(--text-second-color);
        text-transform: capitalize;
        letter-spacing: 0;
        margin-left: 5px;
    }

    &__color-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 18px;
    }

    &__color-item {
        cursor: pointer;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid var(--primary-color);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--transition-config);

        &.active,
        &:hover {
            border-color: var(--text-color);
        }
    }

    &__color-img {
        object-fit: contain;
        width: 40px;
        height: 40px;
        user-select: none;
        mix-blend-mode: multiply;
    }

    &__size-list,
    &__material-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    &__option-btn {
        padding: 10px 22px;
        border: 1px solid;
        transition: var(--transition-config);
        background-color: transparent;
        font-weight: normal;

        &:hover,
        &.active {
            background-color: var(--text-color);
            color: var(--background-color);
        }
    }

    &__quantity-btn {
        width: 172px;
        height: 55px;

        @include abstracts.screen(xl) {
            width: 142px;
        }

        @include abstracts.screen(sm) {
            width: 132px;
            order: 1;
        }
    }

    &__product-form {
        max-width: 600px;

        @include abstracts.screen(lg) {
            max-width: 100%;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 14px;
        max-width: 100%;
        margin-bottom: 15px;

        @include abstracts.screen(sm) {
            flex-wrap: wrap;
            padding-top: 16px;
        }

        &.modifier {
            @include abstracts.screen(lg) {
                flex-wrap: wrap;
            }
        }
    }

    &__add-btn {
        height: 55px;
        flex: 1;
        padding: 0 33px;

        &:hover {
            background-color: var(--text-color);
        }

        @include abstracts.screen(sm) {
            order: 3;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }

        &.modifier {
            @include abstracts.screen(xl) {
                padding: 0;
            }

            @include abstracts.screen(lg) {
                order: 3;
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }
        }
    }

    &__btn {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;

        @include abstracts.screen(sm) {
            order: 2;
        }

        &:active {
            color: var(--primary-color);
        }
    }

    &__buy-btn {
        width: 100%;
        background-color: var(--text-color);
        height: 55px;
        padding: 0 33px;
        font-weight: 600;
        margin-bottom: 25px;

        &:hover {
            background-color: var(--primary-color);
        }

        &.modifier {
            margin-bottom: 0px;
        }
    }

    &__share-btn {
        padding: 0;
        gap: 10px;
        font-weight: 500;
    }

    &__section {
        margin: 30px 0;
    }

    &__delivery {
        margin-top: 40px;

        > svg {
            vertical-align: middle;
        }
    }

    &__delivery-label,
    &__shipping-label {
        margin: 0 4px 0 10px;
        font-weight: 500;
        color: var(--caption-color);

        @include abstracts.screen(sm) {
            font-size: 1.4rem;
            line-height: 2.52rem;
        }
    }

    &__delivery-desc,
    &__shipping-desc {
        color: var(--caption-color);
        font-weight: 500;
        line-height: 2.88rem;

        & > strong {
            color: var(--text-color);
        }

        @include abstracts.screen(sm) {
            font-size: 1.4rem;
            line-height: 2.52rem;
        }
    }

    &__shipping {
        & > svg {
            vertical-align: middle;
        }
    }

    &__payment {
        margin: 40px 0;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
    }

    &__payment-label {
        padding: 0 15px;
        line-height: 2.88rem;
    }

    &__payment-list {
        padding: 10px 20px 30px;
        display: flex;
        align-items: center;
        gap: 16px;

        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }

    &__payment-item {
        & > svg {
            @include abstracts.screen(xl) {
                width: 40px;
                height: 34px;
            }
            @include abstracts.screen(sm) {
                width: 30px;
                height: 34px;
            }
        }
    }

    &__wrapper {
        margin-bottom: 15px;
        border-radius: 40px;
        background-color: var(--white-color);
        transition: var(--transition-config);
        height: fit-content;
    }

    &__heading-wrapper {
        padding: 20px 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        @include abstracts.screen(sm) {
            padding: 16px 20px;
        }
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1;

        @include abstracts.screen(sm) {
            font-size: 1.8rem;
            line-height: 2.5rem;
            padding-right: 40px;
        }
    }

    &__heading-btn {
        flex-shrink: 0;
        width: 39px;
        height: 39px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid;
        rotate: 90deg;
        transition: var(--transition-config);

        &.active {
            rotate: 0deg;
        }
    }

    &__inner {
        // "The simple trick to transition from height 0 to auto with CSS"
        // "No padding to inner element"

        transition: grid-template-rows 500ms;
        display: grid;
        grid-template-rows: 0fr;

        > div {
            overflow: hidden;
        }

        &.show {
            grid-template-rows: 1fr;
        }
    }

    &__body {
        padding: 0 35px 30px;
    }
}

.recommend-product {
    padding: 100px 0 60px;

    @include abstracts.screen(md) {
        padding: 75px 0 45px;
    }
    @include abstracts.screen(sm) {
        padding: 50px 0 30px;
    }

    &__title {
        margin-bottom: 60px;
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 5.46rem;

        @include abstracts.screen(lg) {
            margin-bottom: 30px;
            font-size: 3rem;
            line-height: 4.68rem;
        }

        @include abstracts.screen(md) {
            font-size: 2.4rem;
            line-height: 3.12rem;
        }
    }
}

.loading {
    color: var(--primary-color);
    transition: var(--transition-config);
    min-width: 0;
    height: 100%;
    // padding: 0 6px;
    padding: 0;
    animation: spinner 1s linear infinite;
    transition: var(--transition-config);
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.quick-buy {
    &__img-wrapper {
        position: relative;
        width: 100%;
        padding-top: 100%;
        margin: auto;

        @include abstracts.screen(md) {
            width: 50%;
            padding-top: 50%;
        }
    }

    &__img {
        border-radius: 8px;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        // cursor: zoom-in;
    }

    &__price {
        margin: 16px 0;
    }
}

.feedback {
    &__bottom {
        padding: 4px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        & ul {
            margin: 0 !important;
        }
    }

    &__view {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__view-desc {
        line-height: 2.88rem;
    }

    &__view-btn {
        padding: 0;
        font-weight: 400;
        line-height: 2.88rem;
        color: var(--primary-second-color);

        &:hover {
            text-decoration: underline;
        }

        @include abstracts.screen(sm) {
            font-size: 1.5rem;
            line-height: 2.7rem;
        }
    }
}


.compare-modal {
    position: fixed;
    inset: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-config);

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }

    &__inner {
        position: absolute;
        z-index: 1;
        background-color: var(--background-color);
        max-width: 520px;
        height: 200px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        @include abstracts.screen(sm) {
            width: calc(100% - 20px);
        }
    }

    &__close-btn {
        padding: 4px;
        align-self: flex-end;
        background-color: rgba($color: #000000, $alpha: 1);
        color: var(--background-color);
        border-radius: 0;
        width: 25px;
        height: 25px;
        font-weight: bold;

        &:hover {
            background-color: var(--primary-color);
        }
    }

    &__desc {
        line-height: 2.88rem;
        margin: 16px 0;
        text-align: center;

        @include abstracts.screen(sm) {
            font-size: 1.5rem;
            line-height: 2.7rem;
        }
    }

    &__view-btn {
        padding: 0 33px;
        min-width: 90px;
        min-height: 55px;
        font-weight: 600;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 1);
        }
    }
}