@use '../../../../styles/abstracts';
@import '../../../../styles/base/keyframe';

.abilities {
    padding: 48px 40px 28px;

    @include abstracts.screen(md) {
        padding: 36px 15px 21px;
    }

    @include abstracts.screen(sm) {
        padding: 24px 15px 14px;
    }

    &__row {
        --grid-gutter-y: 30px;

        @include abstracts.screen(md) {
            --grid-gutter-x: 15px;
            --grid-gutter-y: 15px;
        }
    }
}

.ability-item {
    height: 100%;

    &:hover &__img-wrapper::before {
        height: 100%;
    }

    &:hover &__img {
        transform: scale(1.1);
    }

    &__img-wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 30px;
        width: 100%;
        display: flex;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 40%;
            background: linear-gradient(0deg, #000, #0000);
            opacity: 0.5;
            transition: var(--transition-config);
        }
    }
    &__img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        transition: var(--transition-config);
        border-radius: 30px;
    }

    &__body {
        padding-top: 20px;
    }

    &__title {
        font-size: 2.4rem;
        line-height: 3.12rem;
        margin-bottom: 10px;

        @include abstracts.screen(xl) {
            font-size: 2rem;
            line-height: 2.6rem;
        }
    }

    &__desc {
        line-height: 2.88rem;
        margin-bottom: 10px;

        @include abstracts.screen(md) {
            font-size: 1.5rem;
            line-height: 2.7rem;
        }
    }
}
