@use '../../../../styles/abstracts';
@import '../../../../styles/base/keyframe';

.video-banner {
    text-align: center;
    padding: 56px 40px 44px;

    @include abstracts.screen(md) {
        padding: 42px 15px 33px;
    }

    &__top {
        margin-bottom: 50px;
        opacity: 0;
        transition: var(--transition-config) !important;

        &.show {
            opacity: 1 !important;
        }
    }

    &__title {
        @include abstracts.screen(md) {
            font-size: 2.8rem;
            line-height: 3.64rem;
        }
    }

    &__desc {
        @include abstracts.screen(md) {
            font-size: 1.5rem;
            line-height: 2.7rem;
        }
    }

    &__video-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        border-radius: 30px;
        overflow: hidden;
        will-change: transform;
        backface-visibility: hidden;

        @include abstracts.screen(sm) {
            height: 350px;
        }
    }

    &__video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        animation: scale 20s linear infinite;

        &.remove {
            animation: none;
        }
    }

    &__icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        border-radius: 50%;
        border: 2px solid var(--white-color);
        background-color: transparent;
        color: var(--white-color);
        width: 85px;
        height: 85px;
        padding: 0;

        @include abstracts.screen(md) {
            width: 55px;
            height: 55px;
        }

        &.hide:first-child {
            display: none;
        }

        & + & {
            margin-left: 0;
        }
    }
}
